<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.hotel.modules.hotels.mapper.ReservationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.hotel.modules.hotels.entity.Reservations">
        <id column="reservation_id" property="reservationId" />
        <result column="user_id" property="userId" />
        <result column="room_id" property="roomId" />
        <result column="check_in_date" property="checkInDate" />
        <result column="check_out_date" property="checkOutDate" />
        <result column="status" property="status" />
        <result column="total_price" property="totalPrice" />
        <result column="created_at" property="createdAt" />
    </resultMap>
    <resultMap id="ExtendedResultMap" type="com.kalvin.hotel.modules.hotels.entity.Reservations" extends="BaseResultMap">
            <result column="hotel_name" property="hotelName"/>
            <result column="type_name" property="typeName" />
            <result column="hotel_id" property="hotelId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       reservation_id, user_id, room_id, check_in_date, check_out_date, status, total_price, created_at
    </sql>

    <select id="selectReservationsList" resultType="com.kalvin.hotel.modules.hotels.entity.Reservations">
        select <include refid="Base_Column_List" /> from reservations
        <trim prefix="where" prefixOverrides="and">
            <if test="reservations.userId != null">
                and user_id = #{reservations.userId}
            </if>
            <if test="reservations.roomId != null">
                and room_id = #{reservations.roomId}
            </if>
            <if test="reservations.checkInDate != null">
                and check_in_date = #{reservations.checkInDate}
            </if>
            <if test="reservations.checkOutDate != null">
                and check_out_date = #{reservations.checkOutDate}
            </if>
            <if test="reservations.status != null">
                and status = #{reservations.status}
            </if>
            <if test="reservations.totalPrice != null">
                and total_price = #{reservations.totalPrice}
            </if>
            <if test="reservations.createdAt != null">
                and created_at = #{reservations.createdAt}
            </if>
        </trim>
    </select>
    <select id="selectOrderList" resultMap="ExtendedResultMap">
        SELECT
            re.*,
            h.hotel_id,
            h.hotel_name,
            rt.type_name

        FROM
            reservations re
                LEFT JOIN rooms rm ON re.room_id = rm.room_id
                LEFT JOIN room_types rt ON rm.room_type_id = rt.room_type_id
                LEFT JOIN hotels h ON rm.hotel_id = h.hotel_id
        WHERE
            re.user_id = #{userId}
    </select>

</mapper>
