<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.hotel.modules.hotels.mapper.HotelsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.hotel.modules.hotels.entity.Hotels">
        <id column="hotel_id" property="hotelId" />
        <result column="hotel_name" property="hotelName" />
        <result column="cover" property="cover"/>
        <result column="location" property="location" />
        <result column="rating" property="rating" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       hotel_id, hotel_name, location, rating, description,cover
    </sql>

    <select id="selectHotelsList" resultType="com.kalvin.hotel.modules.hotels.entity.Hotels">
        select <include refid="Base_Column_List" /> from hotels
        <trim prefix="where" prefixOverrides="and">
            <if test="hotels.hotelName != null and hotels.hotelName != ''">
                and hotel_name like concat(#{hotels.hotelName}, "%")
            </if>
            <if test="hotels.location != null and hotels.location != ''">
                and location like concat(#{hotels.location}, "%")
            </if>
            <if test="hotels.rating != null">
                and rating = #{hotels.rating}
            </if>
            <if test="hotels.description != null">
                and description = #{hotels.description}
            </if>
        </trim>
    </select>
    <select id="findAdvantageList" resultType="com.kalvin.hotel.modules.hotels.entity.Hotels">
        select *
        from hotels
        order by  rating desc
        limit 4;
    </select>

</mapper>
