<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.hotel.modules.hotels.mapper.NotificationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.hotel.modules.hotels.entity.Notifications">
        <id column="notification_id" property="notificationId" />
        <result column="hotel_id" property="hotelId" />
        <result column="message" property="message" />
        <result column="created_at" property="createdAt" />
        <association property="hotels" column="hotel_id" javaType="com.kalvin.hotel.modules.hotels.entity.Hotels">
            <result column="hotel_name" property="hotelName"/>
            <result column="location" property="location" />
            <result column="rating" property="rating" />
            <result column="description" property="description" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notification_id, hotel_id, message, created_at
    </sql>

    <select id="selectNotificationsList" resultMap="BaseResultMap">
        select
        hn.notification_id,
        hn.hotel_id,
        hn.message,
        hn.created_at,
        h.hotel_name,
        h.location,
        h.rating,
        h.description
        from
        hotel_notifications hn
        join
        hotels h on hn.hotel_id = h.hotel_id
        <trim prefix="where" prefixOverrides="and">
            <if test="notifications.hotelId != null">
                and hn.hotel_id = #{notifications.hotelId}
            </if>
            <if test="notifications.message != null">
                and hn.message = #{notifications.message}
            </if>
            <if test="notifications.createdAt != null">
                and hn.created_at = #{notifications.createdAt}
            </if>
        </trim>
    </select>


</mapper>
